body { 
     background-color : black
  }
     
h1 {
  color : blue ;
 }
   
legend { 
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    color: greeen;
 } 
  
 fieldset {
       background-color: aqua
       border-radius: 10px;
       margin-left: 2px;
       margin-right: 2px;
       padding-top: 0.35em;
       padding-bottom: 0.625em;
  }     
