body {
	background-color: #283747;
}
h1{
	color: blue;
	font-family: arial;
}

h2 {
	color: red;
	font-size: 100%;
}
h4 {
	color: red;
	font-size: 100%;
}


form{
	border-style: solid;
	border-left-color: green;
	border-right-color: green;
	border-top-color: red;
	border-bottom-color: red;
	padding: 20px;
	margin: 10px;
	text-align: center;
}

fieldset{
	background-color: #FFFAE8;
	width: 400px;
	text-align: center;
	padding: 20px;
	margin: auto;
}
