body {
	background-color: #FFF2B5;
}
h1{
	color: red;
	font-family: arial;
}

h3 {
	color: blue;
	font-family: arial;
	font-size: 150%;
}

h4 {
	color: #808080;
	font-size: 150%;
}

form{
	border-style: solid;
	border-left-color: green;
	border-right-color: green;
	border-top-color: red;
	border-bottom-color: red;
	padding: 20px;
	margin: 10px;
	text-align: center;
}

fieldset{
	background-color: #FFFAE8;
	width: 400px;
	text-align: center;
	padding: 20px;
	margin: auto;
}
